/**body**/
$bg-color-body:#990000;
$border-color:#BE6A15;

/**header**/
$color-header:#F3CF7A;
$font-header:'Yusei Magic', sans-serif;

/**nav**/
$bg-color-link:#BE6A15;
$bg-color-visited:#990000;
$bg-color-nav-hover:#990000;
$bg-color-active:#F3CF7A;

/**main**/
$font-principal: 'Zen Kaku Gothic Antique', sans-serif;
$bg-color-main: #F3CF7A;
$color-main:#990000;
$color-main-hover:#F3CF7A;
$bg-color-main-hover:#990000;

/**aside**/
$border-color-aside:#990000;
$color-aside:black;

/**footer**/
$color-footer: #990000;
$shadow:#F3CF7A;
$color-h6:black;
