/**aquí inicia el estilo del contenido aparte**/

aside{
    width: 100%;
    display: grid;
    justify-items: center;
    gap: 10px;
    grid-template-columns:1fr; 
    grid-template-areas: 
    "p" 
    "slide";
    grid-area: aside;
    color: $color-aside;
    font-style: italic;
    font-weight: bold;
    font-family:$font-principal;
    padding-top: 20px;
    padding-bottom: 20px;
    @include borderDouble;
    border-color: $border-color-aside;
    background-color: $bg-color-main;

    .p{
        grid-area: p;
        text-align: center;
    }

    .slide{
        width: 80%;
        grid-area: slide;

        .carousel-inner .carousel-item a picture .img{
            border-radius: 50px;
            padding: 30px;
        }
    }
}

/**Aquí se usa estilo responsive para tablet**/

    @include tablet{
        aside {
            display: grid;
            grid-template-columns: 1fr 2fr 1fr;
            grid-template-areas: 
            ". p ."
            ". slide .";
        }
    }

/**Aquí se usa estilo responsive para desktop**/

    @include desktop{
        aside {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-areas: 
            ". p ."
            ". slide .";
        }
    } 

/**Aquí termina el estilo del aside**/