/**aquí inicia el estilo del header**/

header{
    @include grillaMobile;
    gap: 10px;
    grid-template-areas:
    "titulo"
    "subt"
    "logo"
    "nav";   
    grid-area: header;

    .titulo{
        grid-area: titulo;
        color: $color-header;
        font-weight: bold;
        font-size: 50px;
        font-family: $font-header;
        padding-top: 20px;
        text-align: center;
    }

    .subt{
        grid-area: subt;
        color: $color-subt;
        font-weight: bold;
        font-size: 25px;
        font-family: $font-subt;
    }

    .logo{
        grid-area: logo;
        @include borderRad;

        &:hover{
            transform: rotate(6.28rad);
            transition: all,1s;
        }
    }

    .navbar{
        background-color:#990000;
        grid-area: nav;
        @include borderRad;
        margin-top: 20px;
        margin-bottom: 20px;

        ul{
            display: flex;
            flex-direction: column;
            align-items: center;

            li{
                @include navStyle;

                & .nav-link:link{
                    background-color:$bg-color-link;
                }
            
                & .nav-link:visited{
                    background-color: $bg-color-visited;
                }
            
                & .nav-link:hover{
                    background-color: $bg-color-nav-hover;  
                    @include borderRad
                }
            
                & .nav-link:active{
                    background-color: $bg-color-active;
                    transition: all,0s;
                }
            
                & .inicio{
                    grid-area: inicio;
                }
            
                & .nosotros{
                    grid-area: nosotros;
                }
            
                & .menú{
                    grid-area: menú; 
                }
            
                & .galeria{
                    grid-area: galeria;
                }
            
                & .contacto{
                    grid-area: contacto;
                }

                & a{
                    font-family:$font-principal;
                    text-decoration: none;
                    font-weight: bold;
                    font-size: 20px;
                }
            }            
        }
    }

    /**Estilo responsive desktop**/ 

    @include desktop{
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-areas:
        ". titulo ."
        ". subt ."
        "logo nav .";
        justify-items: center;
        padding-right: 50px;
        padding-left: 50px;

        .logo{
            margin-bottom: 20px;
        }

        .navbar{
            margin-top: 100px;
        }
    }
}

/**Aquí termina el estilo del header**/