/**aquí inicia el estilo del main**/

.principal{
    @include grillaMobile;
    gap: 20px;
    grid-template-areas: 
    "subtitulo"
    "promo" 
    "promo1" 
    "promo2" 
    "promo3" 
    "promo4"
    "promo5"
    "promo6" 
    "promo7" 
    "promo8";
    grid-area: main;
    @include mainStyle;

    .subtitulo{
        grid-area: subtitulo;
        padding: 10px;
        border-style: solid;
        border-width: 5px;
        border-color: $border-color;
        margin-bottom: 10px;
    }

    &:hover{
        color: $color-main-hover;
        background-color: $bg-color-main-hover;
        border-width: 5px;
        border-style: solid;
        border-color: $border-color;
    }

    .estiloPromo{
        padding: 5px;
        @include borderDotted;
        border-color: $border-color;
        border-radius: 20px;

    .imgStyle{
            border-radius: 20px;
            width: 100%;
        }

    .scale:hover{
            transform: scale(1.2);
            transition: all, 1s;
        }
    }

    .promo{
        grid-area: promo;
    }

    .promo1{
        grid-area: promo1;
    }

    .promo2{
        grid-area: promo2;
    }

    .promo3{
        grid-area: promo3;
    }

    .promo4{
        grid-area: promo4;
    }

    .promo5{
        grid-area: promo5;
    }

    .promo6{
        grid-area: promo6;
    }

    .promo7{
        grid-area: promo7;
    }

    .promo8{
        grid-area: promo8;
    }

/** aquí se aplica un breakpoint para tablet**/

    @include tablet{
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        "subtitulo subtitulo"
        "promo promo1" 
        "promo2 promo3" 
        "promo4 promo5"
        "promo6 promo7"
        "promo8 .";
    }

/** aquí se aplica un breakpoint para desktop**/

    @include desktop{
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
        ". subtitulo ."
        "promo promo1 promo2"
        "promo3 promo4 promo5"
        "promo6 promo7 promo8";
    }
}