/**aquí inicia el estilo del main de la página contacto**/
.mainContacto{
    @include mainStyle;

    .subtc{
        text-align: center;
        grid-area: subtitulo;
        padding: 10px;
        border-style: solid;
        border-width: 5px;
        border-color: $border-color;
        margin-bottom: 10px;

        &:hover{
            color: $color-main-hover;
            background-color: $bg-color-main-hover;
            border-width: 5px;
            border-style: solid;
            border-color: $border-color;
        }
    }

    .flip-in-ver-right{
        @include borderDouble;
        padding: 20px;
        border-color: #BE6A15;
        border-radius: 20px;   

        button:hover{
            transform: scale(1.5);
            transition: all, 0.5s;
        }
    }
}

/** final de estilo responsive**/