/**aquí inicia el estilo del main de la página contacto**/
.mainContacto{
    @include mainStyle;
    padding: 100px;

    & .flip-in-ver-right{
        @include borderDouble;
        padding: 20px;
        border-color: #BE6A15;
        border-radius: 20px;   

        & button:hover{
            transform: scale(1.5);
            transition: all, 0.5s;
        }
    }
}

/** final de estilo responsive**/